body{
	font-size: 16px;
	line-height: 1.5em;
	font-family: '微软雅黑',Verdana,Arial,sans-serif;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: #000;
}

#head{
	width: 100%;
	height: 50px;
	min-width: 1000px;
}

#head .ul1{
	list-style: none;
	margin: 0px;
	clear: both;
}

#head .ul1 li{
	float: left;
	padding: 10px 10px 0px 30px;
}

#head .ul1 li img{
	width: 50px;
	height: 30px;
	vertical-align: middle;
}

#head .ul1 li span{
	display: block;
	width: 150px; 
	height: 50px;
	margin-top: -10px;
	line-height: 50px;
	text-align: center;
	transition: 0.5s ease-out;
	transition: 0.2s ease-in;
}

#head .ul1 li span:hover{
	background: #808080;
	color: #fff;
}

#head .ul2{
	list-style: none;
	margin: 0px;
}

#head .ul2 li{
	float: right;
	padding: 10px 80px 0px 30px;
}

#head .ul2 li span{
	display: block;
	width: 60px; 
	height: 50px;
	margin-top: -10px;
	line-height: 50px;
	text-align: center;
	margin-right: -60px;
	transition: 0.2s ease-in;
	transition: 0.5s ease-out;
}

#head .ul2 li span:hover{
	background: #808080;
	color: #fff;
}

#head .ul2 li input[type="text"]{
	width: 250px;
	height:30px;
	border: none;
}

#head .ul2 li button{
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	background: #fff;
	vertical-align: middle;
	position: relative;
	right: 10px;
}

#head .ul2 li form{
	border:1px solid #ccc;
}

#head .ul2 li form:hover{
	border:1px solid #0078d7;
}

#lh{
	width: 100%;
	height: 5px;
	background: #808080;
}

#nav{
	width: 100%;
	height: 40px;
	margin: 0 auto;
	background: #F5F5F5;
	overflow: hidden;
	font-size: 1.3em;
	font-weight: 350;
	font-family: '微软雅黑',Verdana,Arial,sans-serif;
}

#nav ul{
	height: 40px;
	width: 70%;
	margin: 0 auto;
}
#nav .ul1 li{
	list-style: none;
	text-align: center;
	width: 25%;
	height: 40px;
	float: left;
}

#nav .ul1 li a{
	display: block;
	height: 40px;
	line-height: 40px;
	transition: 0.2s ease-out;
	transition: 0.2s ease-in;
}

#nav .ul1 li a:hover{
	background: #808080;
	color: #fff;
	text-decoration: none;
}

.ct1{
	width: 100%;
	background: #0078D7;
	min-width: 1000px;
}

.ct2, .ct4{
	width: 100%;
	height: 320px;
	clear: both;
}

.ct2 ul,.ct4 ul{
	list-style: none;
}

.ct2 ul li,.ct4 ul li{
	float: left;
	width: 25%;
	height: 280px;
	margin: 12px auto;
}

.ct2 ul li a,.ct4 ul li a{
	display: block;
	width: 90%;
	text-decoration: none;
	transition: 0.3s;
}

.ct2 ul li a img,.ct4 ul li a img{
	vertical-align: middle;
	height: 180px;
}

.ct2 ul li a p,.ct4 ul li a p{
	font-size: 1.3em;
	text-align: center;
	color: rgba(0,0,0,0.8);
	font-family: wf_segoe-ui_semilight,wf_segoe-ui_light,wf_segoe-ui_normal,'Segoe UI Semilight','Segoe UI Light','Segoe UI',Arial,sans-serif !important;
}

.ct2 ul li a span,.ct4 ul li a span{
	display: block;
	font-size: 1em;
	text-align: center;
	color: rgba(0,0,0,0.8);
	font-family: wf_segoe-ui_semilight,wf_segoe-ui_light,wf_segoe-ui_normal,'Segoe UI Semilight','Segoe UI Light','Segoe UI',Arial,sans-serif !important;
}

.ct2 ul li a:hover,.ct4 ul li a:hover{
	opacity: 0.8;
	transform: scale(1.2,1.2);
	transition: transform 0.7s;
}

.ct3{
	width: 100%;
	height: 400px;
	background: url(../img/ctbg.jpg);
	background-size: 100%;
}

.ct3 p{
	font-size: 2em;
	color: rgba(0,0,0,0.8);
	padding: 120px 0px 20px 100px;
	margin: 0px;
}

.ct3 span{
	display: block;
	font-size: 1.1em;
	padding: 0px 0px 25px 100px;
	color: rgba(0,0,0,0.8);
}

.ct3 a{
	display: block;
	padding-left: 100px;
	color: rgba(0,0,0,0.8)
}

.ct3 a:hover{
	text-decoration: underline
}

.foot{
	width: 100%;
	padding-top: 20px;
	height: 180px;
	background: #F2F2F2;
	clear: both;
}

.foot ul{
	float: left;
	text-align: center;
	width: 13%;
	display: block;
	margin: 0px auto;
}

.foot ul li{
	list-style: none;
}

.foot ul li:nth-child(1){
	font-size: 16px;
	color: #626262;
	font-family: 'Microsoft yahei','????',Tahoma,Verdana,Arial,sans-serif;
}

.foot ul li a{
	font-family: 'Microsoft yahei','????',Tahoma,Verdana,Arial,sans-serif;
	color: #626262;
	font-size: 12px;
}

.foot ul li a:hover{
	text-decoration: underline;
}

.bottom{
	width: 100%;
	background: #F2F2F2;
	height: 40px;
	font-size: 12px;
	color: rgba(0,0,0,0.6);
}

.bottom img{
	vertical-align: middle;
	width: 25px;
	height: 25px;
}

.bottom a{
	font-size: 13px;
	color: #626262;
	font-family: 'Microsoft yahei','????',Tahoma,Verdana,Arial,sans-serif;
}

.bottom a:hover{
	text-decoration: underline;
}

.btdiv1{
	margin-left: 100px;
	float: left;
}

.btdiv2{
	margin-right: 100px;
	float: right;
}

.btdiv2 a{
	padding-left: 10px;
	padding-right: 10px;
}

/*nav content css*/
.navContent{
	width: 100%;
	height: 400px;
